@model PersonalTest.Models.Appoint

@{
    ViewData["Title"] = "AppointAdd";
}
<h4>Должность</h4>
<div class="jumbotron col-md-7">
    @using (Html.BeginForm("AppAdd", "Handbook", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(m => m.AppName, "Наименование", new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.AppName, new { @class = "form-control calendar" })
                <span asp-validation-for="AppName" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <button id="submit" name="submit" value="1" class="btn btn-primary">Добавить</button>
                <a href="/Handbook/Appoint" id="cancel" name="cancel" class="btn btn-warning">Отменить</a>
            </div>
        </div>
    }
</div>

@*<form asp-action="AppointAdd">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <div class="form-group">
            <label asp-for="AppName" class="control-label"></label>
            <input asp-for="AppName" class="form-control" />
            <span asp-validation-for="AppName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="control-label"></label>
            <input asp-for="CategoryId" class="form-control" />
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>*@
@*</div>*@


@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@
@section scripts{
    <script src="~/lib/jquery/dist/jquery.datetimepicker.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
