@model PersonalTest.Models.Appoint

@{
    ViewData["Title"] = "AppointEdit";
}
<h4>Должность</h4>
<div class="jumbotron col-md-7">
    @using (Html.BeginForm("AppEdit", "Handbook", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div>@Html.HiddenFor(m => m.Id)</div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.AppName, "Наименование", new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.AppName, new { @class = "form-control" })
                <span asp-validation-for="AppName" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <button id="submit" name="submit" class="btn btn-primary">Сохранить</button>
                <a href="/Handbook/Appoint" id="cancel" name="cancel" class="btn btn-warning">Отменить</a>
            </div>
        </div>
    }
</div>
@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
