@model IEnumerable<PersonalTest.Models.FamilyStatus>

@{
    ViewData["Title"] = "Семейное положение";
}

<div>
    <div class="row">
        <div class="col-md-4"><h4>Семейное положение</h4></div><div class="col-md-4"><a class="mylink" asp-controller="Handbook" asp-action="FamilyStatusAdd"><h5>Add</h5></a></div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <table class="table table-sm table-info">
                <thead class="table-success">
                    <tr>
                        <th>Код</th>
                        <th>Наименование</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var cat in Model)
                {
                    <tr>
                        <td>@ViewBag.Count</td>
                        <td>@cat.Name</td>
                        <td><a class="mylink" href="~/Handbook/FamilyStatusEdit/@cat.Id">Edit</a></td>
                        <td><a class="mylink" href="~/Handbook/FamDel/@cat.Id">Del</a></td>
                    </tr>
                    ViewBag.Count++;
                }
            </table>

        </div>
    </div>
</div>
