@model IEnumerable<PersonalTest.Models.Structure>

@{
    ViewData["Title"] = "Структура предприятия";
}

<div>
    <div class="row">
        <div class="col-md-4"><h4>Структура предприятия</h4></div><div class="col-md-4">
            <a class="mylink" asp-controller="Handbook" asp-action="StructureAdd"><h5>Add</h5></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <table class="table table-sm table-info">
                <thead class="table-success">
                    <tr>
                        <th>Код</th>
                        <th>Наименование</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var str in Model)
                {
                    <tr>
                        <td>@ViewBag.Count</td>
                        <td>@str.StructName</td>
                        <td><a class="mylink" href="~/Handbook/StructureEdit/@str.Id">Edit</a></td>
                        <td><a class="mylink" href="~/Handbook/StrDel/@str.Id">Del</a></td>
                    </tr>
                    ViewBag.Count++;
                }
            </table>

        </div>
    </div>
</div>


