<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PersonalTest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <table align="center"> 
            <tr><td><img src="~/image/HeaderPersonal-new.png" alt="" /></td></tr>
        </table>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a al class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" role="button" data-toggle="dropdown" href="#">Справочники</a>
                            <span class="caret"></span>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a asp-area="" asp-controller="Handbook" asp-action="Appoint">Должности</a>
                                </li>
                                <li class="dropdown">
                                    <a asp-area="" asp-controller="Handbook" asp-action="Category">Категории</a>
                                </li>
                                <li class="dropdown">
                                    <a asp-area="" asp-controller="Handbook" asp-action="Structure">Структура предприятия</a>
                                </li>
                                <li class="dropdown">
                                    <a asp-area="" asp-controller="Handbook" asp-action="Vacation">Виды отпусков</a>
                                <li class="dropdown">
                                    <a asp-area="" asp-controller="Handbook" asp-action="WorkCondition">Условия труда</a>
                                </li>
                                <li class="dropdown">
                                    <a asp-area="" asp-controller="Handbook" asp-action="Dismiss">Виды увольнения</a>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li class="dropdown">
                                    <a asp-area="" asp-controller="Handbook" asp-action="Education">Виды образования</a>
                                </li>
                                <li class="dropdown">
                                    <a asp-area="" asp-controller="Handbook" asp-action="School">Учебные заведения</a>
                                    <div class="dropdown-divider"></div>
                                </li>

                                <li class="dropdown">
                                    <a asp-area="" asp-controller="Handbook" asp-action="FamilyStatus">Семейное положение</a>
                                </li>
                                <li class="dropdown">
                                    <a asp-area="" asp-controller="Handbook" asp-action="Experience">Виды стажа</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" role="button" data-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="Index">Документы</a>

                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a asp-area="" asp-controller="Document" asp-action="StaffingTable">Штатное</a>
                                </li>
                                <li class="dropdown">
                                    <a asp-area="" asp-controller="Document" asp-action="Employee">Список сотрудников</a>
                                </li>
                                <li class="dropdown">
                                    <a asp-area="" asp-controller="Document" asp-action="Tabel">Табельный учет</a>
                                </li>

                            </ul>

                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" role="button" data-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="Privacy">Отчеты</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a asp-area="" asp-controller="Document" asp-action="TabNewMain">Отчет1</a>
                                </li>
                                <li class="dropdown">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Отчет2</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Настройки</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" role="button" data-toggle="dropdown" asp-area="" asp-controller="Home" asp-action="Privacy">Справка</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">О программе</a>
                                </li>
                                <li class="dropdown">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Выход</a>
                                </li>

                            </ul>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>&copy; @DateTime.Now.Year – Программа Кадры - Персонал</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
@*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PersonalTest</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@